:host {
    header {
        background-color: var(--primary);
        width: 100%;
        height: 50px;
        padding: 0 20px;
    }

    header, header ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
    }

    header ul li {
        padding: 0 15px 0 0;
        font-weight: 700;
        font-size: 12px;
        list-style: none;
    }

    header ul li a {
        cursor: pointer;
        color: var(--text-menu);
    }

    button {
        background: none;
        border: none;
    }

    img {
        max-height: 30px;
    }
}